* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: #404041;
  height: 70px;
  justify-content: center;
}

.header-inside {
  display: flex;
  width: 1500px;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.header-links {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  background: linear-gradient(to right, #e6c17a, #d3cae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  font-family: "Send Flowers";
  font-weight: 600;
  background: linear-gradient(to right, #e6c17a, #d3cae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.under-header {
  display: flex;
  background-color: #404041;
  height: 500px;
  justify-content: center;
}

.under-header-content {
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.under-header-text {
  height: 350px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.under-header-img {
  border-radius: 10px;
}
.hero-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(to right, #d3cae2, #e6c17a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.under-hero-text {
  font-family: "Roboto";
  font-size: 25px;
  background: linear-gradient(to right, #e6c17a, #d3cae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
