* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: #404041;
  height: 70px;
  justify-content: center;
}

.header-inside {
  display: flex;
  width: 1500px;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.header-links {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  background: linear-gradient(to right, #e6c17a, #d3cae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  font-family: "Send Flowers";
  font-weight: 600;
  background: linear-gradient(to right, #e6c17a, #d3cae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.under-header {
  display: flex;
  background-color: #404041;
  height: 450px;
  justify-content: center;
}

.under-header-content {
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.under-header-text {
  height: 350px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-now-button {
  width: 150px;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  background-color: #f6ede3;
  color: #404041;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.under-header-img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hero-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  height: 90px;
  background: linear-gradient(to right, #d3cae2, #e6c17a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.under-hero-text {
  font-family: "Roboto";
  font-size: 25px;
  background: linear-gradient(to right, #e6c17a, #d3cae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  display: flex;
  flex-direction: column;
}
.samples-text-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.samples-text-header {
  font-family: "Roboto";
  font-weight: 400;
  color: #404041;
  /* margin-top: 50px; */
}

.samples-text-header-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 500px;
}
.products-samples-container {
  display: flex;
  flex-direction: row;
  width: 1500px;
  justify-content: space-between;
}

.product-pic-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 15px;

  color: #404041;
  font-size: 17px;
}
.product-pic {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.product-pic-title {
  font-family: "Roboto";
  color: #404041;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.product-pic-text {
  font-family: "Roboto";
  color: #404041;
  font-size: 17px;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #f6ede3;
}

.quote-container {
  width: 1500px;
}
.quote-text {
  font-family: "Roboto";
  color: #404041;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}
.quote-author-container {
  display: flex;
  justify-content: flex-end;
}
.quote-author {
  font-family: "Roboto";
  color: #404041;
  font-size: 30px;
  font-weight: 500;
}
